/* Контакти */

.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}
/* Псевдокласс соседа - даётся только между соседом */
// Можно было медиа запрос просто до 1199пкс убрать марджин,
// ну та хай буде.
.contact .contact__item + .contact__item {
  margin-left: 50px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0;
  }
}

.contact__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;

  &:hover,
  &:focus {
    color: $accent;
  }
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}
