.hero {
  text-align: center;

  // padding-top: 200px;
  // padding-bottom: 200px;
  padding-top: 118px;
  padding-bottom: 118px;

  max-width: 1600px;
  // height: 600px;- нам це не потрібно в моб.
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;

  @media screen and (max-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: $primary-bg-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  // font-size: 44px;-десктоп
  // line-height: 1.36;-десктоп
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and (max-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__block {
  max-width: 360px;
  // max-width:360px для того, щоб тягнулося коли менше(320px).
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    max-width: 696px;
  }
}
