.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  // Стандартні зображення від 320px
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/mobile/imghero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/mobile/imghero@2x.jpg);
  }

  // Фон в Герой на планшетну версію
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/tablet/imghero.jpg);
  }
  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/tablet/imghero@2x.jpg);
  }

  // Фон в Герой на десктопну версію
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/desktop/imghero.jpg);
  }
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/desktop/imghero@2x.jpg);
  }
}

.hero__title {
  color: $primary-bg-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  // font-size: 44px; -для повної версії
  // line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__block {
  margin: 0 auto;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}
