/* Logo */
.page-header {
  border-bottom: 1px solid #ececec;
}

.wrapper {
  display: flex;
  align-items: center;
}

.page-header__сontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 93px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: #000000;

  &:hover,
  &:focus {
    color: darkorchid;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__label {
  color: $accent;
}

/* Навігація в шапці */
.site-nav {
  position: relative;
  display: flex;
  display: none;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent;
  }
}

// Підсвічування поточної сторінки
.site-nav__link--current {
  color: $accent;

  &::after {
    position: absolute;
    display: block;
    content: '';
    height: 4px;
    min-width: 100%;
    border-radius: 2px;
    background-color: $accent;
    bottom: -1px;
  }
}

// Стилі іконки в хедері
.menu-open {
  border: none;
  fill: $title-text-color;
  background-color: transparent;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent;
  }
}

.menu-close {
  position: absolute;
  right: 15px;

  border: none;
  fill: $title-text-color;
  background-color: transparent;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accent;
  }
}
// модалка

.mob-menu {
  position: fixed;
  background-color: $primary-bg-color;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    position: relative;
  }
}

.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu__link {
  color: $title-text-color;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.mob-contact__list {
  margin-bottom: 64px;
}

.mob-contact__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-contact__link {
  color: $primary-text-color;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
}

.mob-contact-tel__link {
  color: $accent;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;
}

.mob-social__list {
  display: flex;
}

.mob-social__item {
  &:not(:last-child) {
    margin-right: 10px;
    .mob-social__link {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }
}

.mob-social__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent;
  text-decoration: none;
}
