/* Logo */
.page-header {
  border-bottom: 1px solid #ececec;
}

.wrapper {
  display: flex;
  align-items: center;
}

.page-header__сontainer {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.19;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__logo {
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;

  color: #000000;

  &:hover,
  &:focus {
    color: darkorchid;
  }
}

.logo__label {
  color: $accent;
}

/* Навігація в шапці */
.site-nav {
  position: relative;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent;
  }
}

// Підсвічування поточної сторінки
.site-nav__link--current {
  color: $accent;

  &::after {
    position: absolute;
    display: block;
    content: '';
    height: 4px;
    min-width: 100%;
    border-radius: 2px;
    background-color: $accent;
    bottom: -1px;
  }
}
