.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.section__item {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.section__container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  // тут виправлення
  // padding: 25px 100px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
}

.title {
  color: $title-text-color;
  font-weight: 700;
}

.section__name {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.section__text {
  font-size: 14px;
  line-height: 1.71;
}
