.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__list {
  display: flex;
  justify-content: center;
}

.section__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.section__container {
  display: flex;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
}

.title {
  color: $title-text-color;
  font-weight: 700;
}

.section__name {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.section__text {
  font-size: 14px;
  line-height: 1.71;
}
